body {
  background-color: #600404;
  min-height: 100vh;
  overflow-x: hidden;
  animation: fadeIn 0.5s ease-in-out; /* used for creating soft transition between pages*/
}

@keyframes fadeIn {
  /* allows for fade-in-out effect to create a soft transition*/
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  color: #ff0000;
  font-family: Archivo;
  font-size: 8rem; /* 128px */
  align-content: center;
}

.h2-like-h1{
  color: #ff0000;
  font-family: Archivo;
  font-size: 8rem; /* 128 */
  align-content: center;
}

.welcome-text {
  color: #ff0000;
  font-family: Crimson Text;
  font-size: 3rem; /* 48px */
  font-weight: 100;
  font-style: italic;
}

.about-text{
  color: #ff0000;
  font-family: Crimson Text;
  font-size: 2.25rem; /* 36px */
  font-weight: 100;
  font-style: italic;
}

.text-button {
  color: white;
  font-family: Crimson Text;
  font-size: 3rem; /* 48px */
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
}
a.text-button:hover {
  color: paleturquoise;
}

.welcome-stack {
  display: flex;
  align-items: center;
  justify-content: center;
}
