body {
  background-color: #600404;
}

h1 {
  color: #ff0000;
  font-family: Archivo;
  font-size: 128px;
}

.welcome-text {
  color: #ff0000;
  font-family: Crimson Text;
  font-size: 48px;
  font-weight: 100;
  font-style: italic;
}

.text-button {
  color: white;
  font-family: Crimson Text;
  font-size: 48px;
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
}
a.text-button:hover {
  color: paleturquoise;
}
